*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
  
 }

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bolder;
    
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%; 
    margin-left: 999px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: Poppins-Regular, sans-serif;
    
}
    
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}


.mm{
    text-decoration: none;

}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}

/* this handles all the nav links stuff*/
a {
	font-family: Poppins-Regular, sans-serif;
	font-size: 20px;
	line-height: 1.7;
	color: #000000;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
}

.photonav img{
    width: 20px;

}   


a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
    /*---if needed later i deleted this ---color: #FF6700;----*/ 
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
        /*border: none;*/
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


            /* this is thgit e input-placeholder*/
input::-webkit-input-placeholder {color: #EBEBEB;}

input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

textarea::-webkit-input-placeholder {color: #999999;}
textarea:-moz-placeholder {color: #999999;}
textarea::-moz-placeholder {color: #999999;}
textarea:-ms-input-placeholder {color: #999999;}

label {
  display: block;
  margin: 0;
}

/*----------------------------------------

button {
	outline: none !important;
	border: none;
	background: transparent;
} -----*/


button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


            /* Forgot password text*/
.txt1 {
  font-family: Poppins-bold, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #EBEBEB;
  text-decoration: none;
}

/*[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #EBEBEB;
}

      /*-DONE-*/
.wrap-login100 {
  width: 670px;
  background: #FF6700;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}



  /*- Title form DONE-*/
.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 70px 15px 74px 15px;
}

  
/*-DONE-*/
.login100-form-title-1 {
  font-family: Poppins-bold, sans-serif;
  font-size: 45px;
  color: #FF6700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  
}

  /*-DONE-*/

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }
  
  /* background-color: rgba(54,84,99,0.7); /*

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 93px 190px;
  
}  


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  
  
}

.label-input100 {
  font-family: Poppins-bold, sans-serif;
  font-size: 15px;
  color: #EBEBEB;
  line-height: 1.2;
  text-align: right;

  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;
  

}


wrap-input100 validate-input m-b-26 ::placeholder { 
    color:    #EBEBEB;
}
/*------font color --------*/
.input100 {
  font-family: Poppins-Regular, sans-serif;
  font-size: 15px;
  color: #EBEBEB;
  line-height: 1.2;
  border: none;   
  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  background: #57b846;
}


/*---------------------------------------------*/
input.input100 {
  height: 45px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}









/* Button login form]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  
    
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #3A6EA5;
  border-radius: 25px;

  font-family: Poppins-Regular, sans-serif;
  font-size: 16px;
  color: #EBEBEB;
  line-height: 1.2;

    outline: none !important;
    border: none;
	
}

.login100-form-btn:hover {
  background-color: #004E98;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .login100-form {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .login100-form {
    padding: 43px 15px 57px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #EBEBEB;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium, sans-serif;
  color: #EBEBEB;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: Poppins-Medium, sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 15%;
}

.right {
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;}

/*<<<<<<< HEAD

        /*-below this is everything for the create_admin page */
   
.login-box body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-color: #EBEBEB;
   
}

        /*-DONE-*/
.login-box{
    margin-top: 200px;
    width: 320px;
    height: 875px;
    background: #FF6700;
    color: #EBEBEB;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

        /*-DONE-*/
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

        /*-DONE-*/
.login-box p{
    margin: 0;
    padding: 2px;
    font-weight: bold;
    color: #EBEBEB;
    
}

        /*-DONE-*/
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    color: #EBEBEB;
}

        /*-DONE-*/
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #EBEBEB;
    background: transparent;
    outline: none;
    height: 40px;
    color: #EBEBEB;
    font-size: 16px;
}

        /*-DONE-*/
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #3A6EA5;
    color: #EBEBEB;
    font-size: 18px;
    border-radius: 20px;
}

        /*-DONE-*/
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #004E98;  
}

       /*-DONE-*/
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

       /*-DONE-*/
.login-box ::placeholder{
    color: #EBEBEB;
}

     /*above this is everything for the create_admin page */
.calign{
  height: 85px;
  line-height: 90px;
  text-align: right;
  border: 2px ;
  width: 75%;
  
  position: absolute;
  left: 200px;

  border: 3px;
  padding: 10px;
  
}

.call{
  
    height: 30px;
    line-height: 40px;
    text-align:center;
    vertical-align: middle; /* center checkbox vertically */
    font-weight: bold;
}

.lefta{
     text-align: left; /* center checkbox horizontally */
     height: 15px;
    line-height: 40px;
}

.section2 p{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: Poppins-Regular, sans-serif;
}

.logos4tires{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.shopt{
    border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #595454;
  font-size: 1.5rem;
 font-family: Poppins-Regular, sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}
.shopt:hover{
 
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.aus{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  
}
.para{
      padding:0;
    margin: 0;
}

  /*-below this is everything for the footer */

.footer {
 
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF6700;
   color: white;
   text-align: center;
   
   
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
   
}

.footer p {
    color: white;
    text-align: left;
    
}
.footer-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
    
}

.footer-links li{
    list-style: none;
       
}

.footer-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
    font-size: 14px;
    font-family: Poppins-Regular, sans-serif;
}

.createA{
    background-color:#EBEBEB ;
}

/* this is fro the h1 in admin_homepage.jsp */

.h1-admin{
    text-align: center;
}

.vas img{
  
    height: 110px;
 
}

.vas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
        height: 100px;
    
    
}

.vasB{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 100px;
}

.vasB button{
    outline: none !important;
    border: none;
    background: transparent;
}

/* above is for the h1 in admin_homepage.jsp */

/* below is for the h1 in admin_profile.jsp */

.h1ap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 100px;
}

table.center{

    margin-left:auto; 
    margin-right:auto;
    align-content: center;
    font-weight: bold;
    
}


table.center input{
    text-align: right;
    border: none;
}


        /* Button login form]*/
.adpbtn {
  width: 50px;
    display: block;
    margin: 20px auto;
    
    
}

.adpbtn1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #3A6EA5;
  border-radius: 25px;

  font-family: Poppins-Regular, sans-serif;
  font-size: 16px;
  color: #EBEBEB;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
    text-decoration: none;
}



/* below is code for the admin stock lookup.jsp */
/* .hlas1 is also used in admin add stccok fyi*/
.h1asl{
        display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 100px;
}

.inputasl{
    display: flex;
    justify-content: center;

}
.inputasl input{
    
    color: #FF6700;
 
}

/* below is code for the admin stock lookup.jsp */
.aast {
    
   width: 400px;
   margin-left:auto; 
   margin-right:auto;
   align-content: center;
   font-weight: bold;  
}

.aast table, td {
    
    border-collapse: collapse;
    
}

.aast td {
    
 padding: 10px;
 
    
}
.aast input {
    border: 0;
    background: transparent;
    border-bottom: 1px solid  #C0C0C0;
    
    
}
.aast td:nth-child(odd){
    background-color: #FF6700;
    
}
.aast td:nth-child(even){
    background-color: #EBEBEB;
    
}


/* below is code for the customer homepage.jsp */

.chp{
    text-align: center;
    word-spacing: 300px;
    
}
.chp button{
    	outline: none !important;
	border: none;
	background: transparent;
}


/* below is code for the customer profile.jsp */

.cpt input{
    border: none;
    text-align: right;
}

.cpt {
    
     display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 200px;
}

.cpb{
    width: 50px;
    display: block;
    margin: 20px auto;
}