/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2019, 2:19:22 PM
    Author     : ebadger
*/

#primaryHeader {
        text-align: center;
        font-size: 12pt;
        color: 0e3d4f; /* navy blue */ 
        margin-bottom: 5px;
        text-decoration: underline;
    }
  
    table {
        margin: 5px;
        width: 290px;
    }
  
    th {
        padding: 3px;
    }
  
    td {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #990000;
        background-color: gray;
    }

    
    button {
        color: black;
        border: gray;
    }

    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #990000;
   color: white;
   text-align: center;
    }